.bilboquet-navbar{
    color: white !important;
    background-color: #761c19;
}
.bilboquet-navbar a, .bilboquet-navbar p{
    color: white !important;
}

.btn-red-bilboquet{
    background-color: #761c19 !important;
    color: white;
    margin: auto;
    width: 1220px;
    display: block;
    margin-top: 400px;
}
.btn-red-bilboquet:hover{
    color: white;
}
.ara-intro{
    margin-top: 50px;
}

.big-space{
    margin-top: 60px;
}

.ara-intro h1{
    font-weight: bold;
    font-family: Calibri;
    font-size: 50px;
}

.picture-center{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.ara-first-picture{
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    display: block;
}
.text-center{
    text-align: center;
}

.btn-ara-buy:hover{
    border: 1px solid #761c19 !important;
    background-color: white;
    color: #761c19;
}
.btn-ara-buy{
    margin-top: 22px;
    background-color: #761c19;
    color: white;
}

.ara-setting{
    padding-bottom: 50px;
}

.ara-newsletter{
    background: #761c19;
    padding-bottom: 70px;
}

.ara-newsletter h2{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.space{
    margin-top: 20px;
    margin-top: 20px;
}

.ara-talk button{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.ara-talk{
    padding-bottom: 50px;
    background-color: #333333;
    color: #c0c0c0;
}
.admin-link{
    font-size: 17px;
    color: black;
}
.space-line{
    margin-right: 20px;
}